<!DOCTYPE html>
<html>
<head>
  <title>Realtime Slides Tutorial | Edit</title>
</head>
<body>
  <textarea placeholder="Enter markdown"></textarea>
  <br>
  <div id="submit-button" onclick="handleSubmit()">Submit</div>
  <br>
  <div id="deck"></div>

  <script type="text/javascript">
    const textarea = document.querySelector("textarea");
    const deck = document.querySelector("#deck");

    const slides = [
      '#ðŸ‘‰ @nafeu\nFollow me at **github.com/nafeu** for more realtime tomfoolery.',
      '#Have Some Fun! ðŸŽ‰\nFork this project and experiment with the realtime logic.',
      '#Clever Libraries ðŸ› \nPowered by Express.js, Socket.io, Showdown and some sweet Vanilla JS',
      '#Realtime Slides â±\nImprovise your presentations, one slide at a time.',
    ];

    textarea.addEventListener("keydown", (event) => {
      if (event.keyCode == 13 && !event.shiftKey) {
        event.preventDefault();
        handleSubmit();
      }
    })

    function handleSubmit() {
      if (textarea.value.length > 0) {
        slides.unshift(textarea.value);
        updateDeck();
        sendUpdateSlideRequest(textarea.value);
      }
      textarea.value = "";
    }

    function updateDeck() {
      deck.innerHTML = "";

      slides.forEach((markdown) => {
        const slideNode = document.createElement("p");
        slideNode.innerText = markdown;
        slideNode.onclick = () => {
          sendUpdateSlideRequest(markdown);
        }
        deck.appendChild(slideNode);
      })
    }

    function sendUpdateSlideRequest(markdown) {
      const { protocol } = window.location;
      const url = `${protocol}/api/updateSlide?markdown=${encodeURIComponent(markdown)}`;
      const xhttp = new XMLHttpRequest();

      xhttp.open("GET", url, true);
      xhttp.send();
    }

    (() => {
      updateDeck();
    })();

  </script>
</body>
</html>