<!DOCTYPE html>
<html>
<head>
  <title>Realtime Slides Tutorial | Show</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <div id="slide"></div>

  <script type="text/javascript">

    const socket = io();

    socket.on('connect', () => {
      console.log(`[ show.ejs ] Connected with id: ${socket.id}`);
    })

    socket.on('update slide', (data) => {
      console.log(`[ show.ejs ] Update slide: ${data}`);
      updateSlide(data);
    })

    function updateSlide(html) {
      document.querySelector("#slide").innerHTML = html;
    }

  </script>
</body>
</html>