<!DOCTYPE html>
<html>
<head>
  <title>Realtime Slides Tutorial | Show</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Show page</h1>

  <script type="text/javascript">

    const socket = io();

    socket.on('connect', () => {
      console.log(`[ show.ejs ] Connected with id: ${socket.id}`);
    })

    socket.on('update slide', (data) => {
      console.log(`[ show.ejs ] Update slide: ${JSON.stringify(data)}`);
      updateSlide(data);
    })

    function updateSlide(markup) {
      console.log("UPDATE SLIDE: " + markup)
    }

  </script>
</body>
</html>